<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script type="text/javascript" th:inline="javascript">
            window.location.href = [[@{/tables}]]

    </script>
    <title>Page Redirection</title>
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{/img/apple-icon.png}">
    <link rel="icon" type="image/png" th:href="@{/img/favicon.png}">

    <title>

        PearUK

    </title>


    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet"/>

    <!-- Nucleo Icons -->
    <link th:href="@{/css/nucleo-icons.css}" rel="stylesheet}"/>
    <link th:href="@{/css/nucleo-svg.css}" rel="stylesheet}"/>

    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link th:href="@{/css/nucleo-svg.css}" rel="stylesheet"/>

    <!-- CSS Files -->


    <link id="pagestyle" th:href="@{/css/soft-ui-dashboard.css?v=1.0.5}" rel="stylesheet"/>


</head>


<body>

<body class="vh-100">
<div class="container h-100">
    <div class="row h-100">
        <div class="col-10 m-auto text-center">
            <h6>If you are not redirected automatically, follow <a
                    th:href="@{/tables}">this link</a>.</h6>
        </div>
    </div>
</div>
</body>


</body>

</html>
