<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Management System</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <script th:src="@{/js/bootstrap.js}"></script>
</head>
<body>
<div class="container my-2">
    <h1>Products List</h1>

    <a th:href="@{/new-product-form}" class="btn btn-primary btn-sm mb-3">Add Product</a>
    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Product Name</th>
            <th>Product Quantity</th>
            <th>Product Price</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${listProducts}">
            <td th:text="${product.name}"></td>
            <td th:text="${product.quantity}"></td>
            <td th:text="${#strings.replace(#strings.replace(#numbers.formatCurrency(product.price), '.00', ''), '$' , 'VND ')}"></td>
            <td>
                <a th:href="@{/update-product-form/{id}(id=${product.id})}" class="btn btn-primary">Update</a>
                <a th:href="@{/delete-product/{id}(id=${product.id})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>