<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Management System</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <script th:src="@{/js/bootstrap.js}"></script>
</head>
<body>
<div class="container">
    <h1>Product Managerment System</h1>
    <hr>
    <h2>[[${title}]]</h2>
    <form action="#" th:action="@{/save-product}" , th:object="${product}" method="POST">

        <input type="hidden" th:field="*{id}">

        <input type="text" th:field="*{name}" class="form-control mb-4 col-4">

        <input type="number" th:field="*{quantity}" class="form-control mb-4 col-4">

        <input type="number" th:field="*{price}" class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-info col-2">[[${title}]]</button>
    </form>
    <hr>
    <a th:href="@{/}">Back to Product List</a>
</div>
</body>
</html>