<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>PearUK</title>-->
<!--    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>-->

<!--    &lt;!&ndash;css&ndash;&gt;-->
<!--    <link th:href="@{css/bootstrap.css}" rel="stylesheet"/>-->

<!--    &lt;!&ndash;js&ndash;&gt;-->
<!--    <script th:src="@{js/bootstrap.js}"></script>-->

<!--</head>-->
<!--<body>-->
<!--<h1 th:utext="#{pearuk.hello}"></h1>-->

<!--<a th:href="@{/profile}" class="btn btn-primary">PearUK Profile</a>-->
<!--</body>-->

<!--</html>-->