<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8"/>-->
<!--    <title>PearUK</title>-->
<!--    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>-->

<!--    &lt;!&ndash;css&ndash;&gt;-->
<!--    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>-->

<!--    &lt;!&ndash;js&ndash;&gt;-->
<!--    <script th:src="@{/js/bootstrap.js}"></script>-->

<!--</head>-->
<!--<body>-->
<!--<h1 th:utext="#{pearuk.hello}"></h1>-->
<!--<h2>PearUK Profile</h2>-->

<!--<ul>-->
<!--    &lt;!&ndash;Duyệt qua toàn bộ phần tử trong biến "lodaProfile"&ndash;&gt;-->
<!--    <li th:each="info : ${pearukProfile}">-->
<!--        &lt;!&ndash;Với mỗi phần tử, lấy ra key và value&ndash;&gt;-->
<!--        <span th:text="*{info.key}"></span> : <span th:text="*{info.value}"></span>-->
<!--    </li>-->
<!--</ul>-->

<!--</body>-->

<!--</html>-->